<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Code Challenge Entelgy</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel="Shortcut Icon" href="assets/ico/favicon.ico">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>
  </head>

  <body ng-app="entelgyApp" layout="column" ng-controller="CandidateController as candidateVm" ng-cloak>

    <md-toolbar class="md-hue-2" layout="row">
      <div class="md-toolbar-tools">
        <md-button class="menu" hide-gt-sm ng-click="candidateVm.toggleList()" aria-label="Show Candidate List"  ng-show="candidateVm.candidates.length">
          <md-icon md-svg-icon="menu" ></md-icon>
        </md-button>
        <h1>
          <span>Code Challenge Entelgy</span>
        </h1>
      </div>
    </md-toolbar>

    <div flex layout="column" layout-align="center center" ng-show="!candidateVm.candidates.length">
        <h1>Nenhum candidato encontrado :(</h1>
        <h1>Por favor, siga as instruções da subseção Testes em <a href="https://bitbucket.org/falvojr/entelgy-challenge">BackEnd</a>.</h1>
    </div>

    <div flex layout="row" ng-show="candidateVm.candidates.length">

        <md-sidenav  ng-click="candidateVm.toggleList()" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" class="md-whiteframe-z2" >
          <md-list>
            <md-list-item ng-repeat="it in candidateVm.candidates">
                <md-button ng-click="candidateVm.selectCandidate(it)" ng-class="{'selected' : it === candidateVm.selected }">
                  <md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>
                  {{it.name}}
                </md-button>
            </md-list-item>
          </md-list>
        </md-sidenav>

        <md-content flex layout="column" layout-margin id="content" layout-align="none center">
          <md-icon md-svg-icon="{{candidateVm.selected.avatar}}" class="avatar"></md-icon>
          <h1>{{candidateVm.selected.name}}</h1>
          <p>{{candidateVm.selected.overview}}</p>
          <div vc-recaptcha
            on-create ="candidateVm.reCaptchaSetWidgetId(widgetId)"
            on-success="candidateVm.reCaptchaSubmit(response)"
            on-expire ="candidateVm.reCaptchaReload()">
          </div>
          <md-button class="md-raised md-primary"
            ng-disabled="!candidateVm.reCaptchaResponse"
            ng-click="candidateVm.patchCandidate(candidateVm.selected, $event)">
            Vote
          </md-button>
        </md-content>

    </div>

    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../node_modules/angular-aria/angular-aria.js"></script>
    <script src="../node_modules/angular-material/angular-material.js"></script>
    <!-- Include the JS ReCaptcha API -->
    <script src="//www.google.com/recaptcha/api.js?render=explicit&onload=vcRecaptchaApiLoaded" async defer></script>
    <!-- Include the ngReCaptcha directive -->
    <script src="../node_modules/angular-recaptcha/release/angular-recaptcha.js"></script>
    <!-- Angular Chart -->
    <script src="../node_modules/chart.js/dist/Chart.js"></script>
    <script src="../node_modules/angular-chart.js/dist/angular-chart.js"></script>

    <script src="./src/candidates/Candidates.js"></script>
    <script src="./src/candidates/CandidateController.js"></script>
    <script src="./src/candidates/CandidateService.js"></script>

    <script type="text/javascript">

          angular
              .module('entelgyApp', ['ngMaterial', 'vcRecaptcha', 'chart.js', 'candidates'])
              .config(function(vcRecaptchaServiceProvider){
                  vcRecaptchaServiceProvider.setDefaults({
                    key: '6LfbxwYUAAAAAGXadtJcjlxvHmkkzcQSHXFB62kI',
                  });
              })
              .config(function($mdThemingProvider, $mdIconProvider){
                  $mdIconProvider
                      .defaultIconSet("./assets/svg/avatars.svg", 128)
                      .icon("menu", "./assets/svg/menu.svg", 24);
                  $mdThemingProvider.theme('default');
              })
              .config(function (ChartJsProvider) {
                ChartJsProvider.setOptions({
                  colors : [ '#803690', '#00ADF9', '#DCDCDC', '#46BFBD', '#FDB45C', '#949FB1', '#4D5360'] });
              })
              .constant('ENV', {
                  'API_HOST': 'http://localhost:8080',
              });

    </script>

  </body>
</html>
